<div class="row">
  <div class="col-xs-12">
    <!--
      #ingredientForm -> local reference to the form, it gives us access to the form itself
      #ingredientForm="ngForm" -> getting access to the javascript object that angular creates behind the scenes
     -->
    <form (ngSubmit)="onAddOrUpdateIngredient(ingredientForm)" #ingredientForm="ngForm">
      <div class="col-sm-5 form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="ingredientName" ngModel class="form-control" required>
      </div>
<!--
  name="ingredientName" -> the formControl name
  ngModel -> registers as a control in the template-driven form
-->
      <div class="col-sm-2 from-group">
        <label for="amount">Amount</label>
        <input type="number" id="amount" name="ingredientAmount" ngModel class="form-control" min="0" required>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="ingredientForm.invalid">{{ edittingMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" (click)="onDeleteIngredient()" *ngIf="edittingMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
